In [125]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [92]:
df_wine = pd.read_csv('data/sonoma/sonoma_wine_cleaned.csv')
# Selected 9 weather stations, based on EDA results and will use an updated dataframe
df_weather = pd.read_csv('data/updated_weather_df.csv')

In [105]:
df_wine.head()

,Year,CommodityCode,CropName,CountyCode,County,HarvestedAcres,Yield(Unit/Acre),Production,Price(Dollars/Unit),Unit,Value(Dollars)
0,2020,216299,GRAPESWINE,97,Sonoma,56800.0,2.61,148000.0,2375.08,Tons,351512000
1,2019,216299,GRAPESWINE,97,Sonoma,57500.0,4.00,230000.0,2843.57,Tons,654021000
2,2018,216299,GRAPESWINE,97,Sonoma,59900.0,4.61,276000.0,2817.66,Tons,777675000
3,2017,216299,GRAPESWINE,97,Sonoma,60000.0,3.43,206000.0,2807.34,Tons,578313000
4,2016,216299,GRAPESWINE,97,Sonoma,60000.0,3.77,226000.0,2595.21,Tons,586518000

In [93]:
df_weather.head()

,STATION,NAME,PRCP,TMAX,TMIN,Moving_Avg_PRCP_yr,Moving_Avg_TMIN_yr,Moving_Avg_TMAX_yr,DATE
0,USC00048351,"SONOMA, CA US",0.00,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,USC00048351,"SONOMA, CA US",0.00,61.0,37.0,NaN,NaN,NaN,1980-01-02
2,USC00048351,"SONOMA, CA US",0.00,61.0,35.0,NaN,NaN,NaN,1980-01-03
3,USC00048351,"SONOMA, CA US",0.05,56.0,41.0,NaN,NaN,NaN,1980-01-04
4,USC00048351,"SONOMA, CA US",0.01,56.0,44.0,NaN,NaN,NaN,1980-01-05

In [94]:
# Fill in all Nan values with the mean precip, tmin, tmax for that given date
# This feels like it will be tricky because I want to fill in the nan's with the mean of each particular day/month

In [95]:

df_weather['DATE'] = pd.to_datetime(df_weather['DATE'])
df_weather = df_weather.set_index('DATE')


df_weather.head()

,STATION,NAME,PRCP,TMAX,TMIN,Moving_Avg_PRCP_yr,Moving_Avg_TMIN_yr,Moving_Avg_TMAX_yr
DATE,,,,,,,,
1980-01-01,USC00048351,"SONOMA, CA US",0.00,NaN,NaN,NaN,NaN,NaN
1980-01-02,USC00048351,"SONOMA, CA US",0.00,61.0,37.0,NaN,NaN,NaN
1980-01-03,USC00048351,"SONOMA, CA US",0.00,61.0,35.0,NaN,NaN,NaN
1980-01-04,USC00048351,"SONOMA, CA US",0.05,56.0,41.0,NaN,NaN,NaN
1980-01-05,USC00048351,"SONOMA, CA US",0.01,56.0,44.0,NaN,NaN,NaN

In [96]:
# print(df_weather.index.year)
# print(df_weather.index.month)
# print(df_weather.index.day)

date_grouped = df_weather.groupby([df_weather.index.month, df_weather.index.day])

date_grouped.head(400)

,STATION,NAME,PRCP,TMAX,TMIN,Moving_Avg_PRCP_yr,Moving_Avg_TMIN_yr,Moving_Avg_TMAX_yr
DATE,,,,,,,,
1980-01-01,USC00048351,"SONOMA, CA US",0.00,NaN,NaN,NaN,NaN,NaN
1980-01-02,USC00048351,"SONOMA, CA US",0.00,61.0,37.0,NaN,NaN,NaN
1980-01-03,USC00048351,"SONOMA, CA US",0.00,61.0,35.0,NaN,NaN,NaN
1980-01-04,USC00048351,"SONOMA, CA US",0.05,56.0,41.0,NaN,NaN,NaN
1980-01-05,USC00048351,"SONOMA, CA US",0.01,56.0,44.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2020-12-27,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,58.0,34.0,0.047363,39.461538,72.472527
2020-12-28,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,60.0,35.0,0.047363,39.230769,72.153846
2020-12-29,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,64.0,31.0,0.047363,39.021978,71.945055
2020-12-30,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.15,57.0,29.0,0.049011,38.769231,71.593407
2020-12-31,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,62.0,37.0,0.049011,38.582418,71.263736

In [97]:
mean_precip = date_grouped['PRCP'].mean()
mean_precip

DATE  DATE
1     1       0.283692
      2       0.224052
      3       0.193957
      4       0.350607
      5       0.204291
                ...
12    27      0.264116
      28      0.272238
      29      0.305511
      30      0.221434
      31      0.297331
Name: PRCP, Length: 366, dtype: float64

In [98]:
df_weather['PRCP'].isna().sum()

3783

In [99]:
# for my future reference: https://saturncloud.io/blog/how-to-replace-nan-values-with-mean-values-in-pandas-for-a-given-grouping2/

df_weather['PRCP'] = date_grouped['PRCP'].transform(lambda x: x.fillna(x.mean()))
df_weather['TMIN'] = date_grouped['TMIN'].transform(lambda x: x.fillna(x.mean()))
df_weather['TMAX'] = date_grouped['TMAX'].transform(lambda x: x.fillna(x.mean()))

In [100]:
df_weather.isna().sum()

STATION                   0
NAME                      0
PRCP                      0
TMAX                      0
TMIN                      0
Moving_Avg_PRCP_yr    22572
Moving_Avg_TMIN_yr    49558
Moving_Avg_TMAX_yr    46892
dtype: int64

In [101]:
# drop the moving averages - not needed here
df_weather.drop(['Moving_Avg_PRCP_yr', 'Moving_Avg_TMIN_yr', 'Moving_Avg_TMAX_yr'], axis = 1, inplace=True)
df_weather.isna().sum()

STATION    0
NAME       0
PRCP       0
TMAX       0
TMIN       0
dtype: int64

In [117]:
df_weather.head()

                STATION           NAME  PRCP       TMAX       TMIN
DATE
1980-01-01  USC00048351  SONOMA, CA US  0.00  57.171674  37.510823
1980-01-02  USC00048351  SONOMA, CA US  0.00  61.000000  37.000000
1980-01-03  USC00048351  SONOMA, CA US  0.00  61.000000  35.000000
1980-01-04  USC00048351  SONOMA, CA US  0.05  56.000000  41.000000
1980-01-05  USC00048351  SONOMA, CA US  0.01  56.000000  44.000000

In [85]:
# Merge the yield per acre of grapes in Sonoma into the weather data
# We do not want nans, so for each year it will be the same yield for each day, or 0 for every day and then full yield in October

In [110]:
# we only care about yield and year for this model
df_wine.columns

Index(['Year', 'CommodityCode', 'CropName', 'CountyCode', 'County',
       'HarvestedAcres', 'Yield(Unit/Acre)', 'Production',
       'Price(Dollars/Unit)', 'Unit', 'Value(Dollars)'],
      dtype='object')

In [114]:
df_wine.drop(['CommodityCode', 'CropName', 'CountyCode', 'County',
             'HarvestedAcres', 'Production', 'Price(Dollars/Unit)', 'Unit', 'Value(Dollars)'], axis = 1, inplace = True)

In [119]:
df = pd.concat([df_weather, df_wine], axis=0, ignore_index=False)

In [123]:
df.tail(45)

,STATION,NAME,PRCP,TMAX,TMIN,Year,Yield(Unit/Acre)
2020-12-28 00:00:00,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,60.0,35.0,NaN,NaN
2020-12-29 00:00:00,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,64.0,31.0,NaN,NaN
2020-12-30 00:00:00,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.15,57.0,29.0,NaN,NaN
2020-12-31 00:00:00,USW00023213,"SANTA ROSA SONOMA CO AIRPORT, CA US",0.00,62.0,37.0,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,2020.0,2.61
1,NaN,NaN,NaN,NaN,NaN,2019.0,4.00
2,NaN,NaN,NaN,NaN,NaN,2018.0,4.61
3,NaN,NaN,NaN,NaN,NaN,2017.0,3.43
4,NaN,NaN,NaN,NaN,NaN,2016.0,3.77
5,NaN,NaN,NaN,NaN,NaN,2015.0,3.14
6,NaN,NaN,NaN,NaN,NaN,2014.0,4.39
7,NaN,NaN,NaN,NaN,NaN,2013.0,4.53
8,NaN,NaN,NaN,NaN,NaN,2012.0,4.58
9,NaN,NaN,NaN,NaN,NaN,2011.0,2.87
10,NaN,NaN,NaN,NaN,NaN,2010.0,3.40
11,NaN,NaN,NaN,NaN,NaN,2009.0,3.78
12,NaN,NaN,NaN,NaN,NaN,2008.0,3.05
13,NaN,NaN,NaN,NaN,NaN,2007.0,3.62
14,NaN,NaN,NaN,NaN,NaN,2006.0,3.90
15,NaN,NaN,NaN,NaN,NaN,2005.0,4.05
16,NaN,NaN,NaN,NaN,NaN,2004.0,3.31
17,NaN,NaN,NaN,NaN,NaN,2003.0,3.08
18,NaN,NaN,NaN,NaN,NaN,2002.0,3.93
19,NaN,NaN,NaN,NaN,NaN,2001.0,3.98
20,NaN,NaN,NaN,NaN,NaN,2000.0,4.52
21,NaN,NaN,NaN,NaN,NaN,1999.0,3.37
22,NaN,NaN,NaN,NaN,NaN,1998.0,3.77
23,NaN,NaN,NaN,NaN,NaN,1997.0,5.50
24,NaN,NaN,NaN,NaN,NaN,1996.0,3.80
25,NaN,NaN,NaN,NaN,NaN,1995.0,4.22
26,NaN,NaN,NaN,NaN,NaN,1994.0,4.53
27,NaN,NaN,NaN,NaN,NaN,1993.0,4.16
28,NaN,NaN,NaN,NaN,NaN,1992.0,4.73
29,NaN,NaN,NaN,NaN,NaN,1991.0,4.95
30,NaN,NaN,NaN,NaN,NaN,1990.0,3.80
31,NaN,NaN,NaN,NaN,NaN,1989.0,4.42
32,NaN,NaN,NaN,NaN,NaN,1988.0,3.54
33,NaN,NaN,NaN,NaN,NaN,1987.0,3.77
34,NaN,NaN,NaN,NaN,NaN,1986.0,3.77
35,NaN,NaN,NaN,NaN,NaN,1985.0,3.59
36,NaN,NaN,NaN,NaN,NaN,1984.0,3.81
37,NaN,NaN,NaN,NaN,NaN,1983.0,3.14
38,NaN,NaN,NaN,NaN,NaN,1982.0,4.00
39,NaN,NaN,NaN,NaN,NaN,1981.0,3.39
40,NaN,NaN,NaN,NaN,NaN,1980.0,3.34

In [86]:
# Set up train / test split of data - 25% test, 75% train

In [130]:
# We want to predict Yield, and drop any text columns from the df (e.g., station, location) - these are not needed for the model.
X = df.drop(['Yield(Unit/Acre)'], axis = 1)
y = df['Yield(Unit/Acre)']

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

In [132]:
# Use StandardScaler on data

In [134]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_trained_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

ValueError: could not convert string to float: 'USW00023213'